body, input, button {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(twitter_web_sprite_bgs.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  height: 40px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}
header .wrapper {
  width: 865px;
  margin: 0 auto;
}
nav {
  height: 40px;
  float: left;
}
nav ul {
  margin: 0;
  padding: 0;
  height: 40px;
}
nav li {
  height: 40px;
  text-align: center;
  display: inline-block;
  list-style: none;
}
nav li a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
nav li a {
  color: #bbb;
}
nav li a:hover {
  color: white;
}
nav li a.current-page {
  color: white;
  background-image: url(twitter_web_sprite_bgs.png);
  background-position: 0 -50px;
  background-repeat: repeat-x;
}
nav li a .nav-name {
  font-size: 12px;
  font-weight: bold;
  color: inherit;
  position: relative;
  float: left;
  padding: 12px 0 13px;
}
nav .nav-icon {
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  display: block;
  position: relative;
  float: left;
  margin: 9px 6px 0 12px;
}
nav #home {
  width: 85px;
}
nav #home .nav-icon {
  background-image: url(twitter_web_sprite_icons.png);
  background-position: 0px -110px;
}
nav #connect {
  width: 99px;
}
nav #connect .nav-icon {
  background-image: url(twitter_web_sprite_icons.png);
  background-position: -80px -50px;
}
nav #connect .hover {
  background-position: -80px -80px;
}
nav #discover {
  width: 97px;
}
nav #discover .nav-icon {
  background-image: url(twitter_web_sprite_icons.png);
  background-position: -40px -50px;
}
nav #discover .hover {
  background-position: -40px -80px;
}
nav #me {
  width: 69px;
}
nav #me .nav-icon {
  background-image: url(twitter_web_sprite_icons.png);
  background-position: -120px -50px;
  background-repeat: no-repeat;
}
nav #me .hover {
  background-position: -120px -80px;
}

header #icon {
  float: left;
  margin: 10px 0 0 70px;
  color: white;
  background-image: url(twitter_web_sprite_icons.png);
  background-position: -40px 0;
  background-repeat: no-repeat;
  width: 24px;
  height: 21px;
  display: block;
}

header #actions {
  float: right;
}
header #actions #search {
  float: left;
  position: relative;
  margin-top: 7px;
  font-size: 12px;
  width: 202px;
  height: 26px;
  padding: 0;
  border-radius: 15px;
  border: none;
  background-color: #ccc;
}
header #actions #search input {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  color: #666;
  width: 163px;
  height: 14px;
  padding: 6px 27px 6px 12px;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);

  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
header #actions #search input:focus {
  background-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Webkit */
input::-webkit-input-placeholder {
    color: #666;
}
input:focus::-webkit-input-placeholder {
    color: #ccc;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #666;
}
input:focus:-moz-placeholder {
    color: #ccc;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #666;
}
input:focus::-moz-placeholder {
    color: #ccc;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #666;
}
input:focus:-ms-input-placeholder {
    color: #ccc;
}

header #search-icon {
  display: block;
  width: 12px;
  height: 14px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 9px 0 7px;
  background-image: url(twitter_web_sprite_icons.png);
  background-position: -20px -710px;
  background-repeat: no-repeat;
}
header #search-button {
  display: none;
}
header #actions .divider {
  float: left;
  margin: 3px 10px 5px;
  padding: 0;
  background-image: url(twitter_web_sprite_icons.png);
  background-position: -240px -50px;
  background-repeat: no-repeat;
  width: 2px;
  height: 32px;
}
header #actions #settings {
  float: left;
  width: 34px;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
}
header #actions #settings a {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
header #actions #settings .settings-icon {
  background-image: url(twitter_web_sprite_icons.png);
  background-position: -160px -50px;
  background-repeat: no-repeat;
  width: 20px;
  height: 21px;
  margin: 9px 2px 11px 0px;
  display: inline-block;
}
header #actions #settings .hover-icon {
  background-position: -160px -80px;
}
header #actions #settings .settings-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 18px 0 0 0;
  border-top: 4px solid #bbb;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: none;
  vertical-align: top;
}
header #actions #settings .hover-caret {
  border-top: 4px solid white;
}
header #actions #compose {
  float: left;
  background-image: url(compose_button.png);
  width: 38px;
  height: 28px;
  margin: 5px 13px 0 0;
}